.register-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-container {
  width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text1 {
  position: relative;
  font-size: 28px;
  word-spacing: 4px;
}

.text2 {
  position: relative;
  font-size: 24px;
}

.text3 {
  position: relative;
  font-size: 24px;
}

.rectangle {
  display: flex;
  margin-left: -170px;
  position: absolute;
  z-index: -1;
}

.Button-and-form {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.registration {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
}

.registration button {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #5fb5f3, #f7d984) border-box;
  border: solid transparent;
  border-radius: 50px;
  font-size: 22px;
  width: 560px;
  height: 75px;
  cursor: pointer;
}
